---
layout: default
title: My Profile
permalink: /profile/
---

<div class="sheet no-padding">
    <div class="row no-margin">
        <div class="col-sm-4 no-padding">
            <img src="/assets/grad.jpg"></img>
        </div>
        <div class="col-sm-8 padding-all-1 padding-top-2">
            <h1>Naphat Sanguansin</h1>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p>From Bangkok, Thailand<br>Living in San Francisco, CA</p>
        </div>
    </div>
</div>

<div class="sheet no-padding">
    {% for education in site.data.education %}
        <div class="row no-margin">
            <div class="col-sm-4 text-center padding-all-1">
                <h2>{{ education.school }}</h2>
                <h3>Class of {{ education.year }}</h3>
                <p>{{ education.location }}</p>
            </div>
            <div class="col-sm-8 padding-all-1">
                {{ education.degree }}<br>
                GPA: {{ education.gpa }}<br>

                <!-- Honors -->
                {% assign loop_end = education.honors.size | minus: 1 %}
                {% assign mid_loop = loop_end | divided_by: 2 %}
                {% assign mid_loop_start = mid_loop | plus: 1 %}
                Honors:
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            {% for i in (0..mid_loop) %}
                                <li>{{ education.honors[i] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            {% for i in (mid_loop_start...loop_end) %}
                                <li>{{ education.honors[i] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Coursework -->
                {% assign loop_end = education.coursework.size | minus: 1 %}
                {% assign mid_loop = loop_end | divided_by: 2 %}
                {% assign mid_loop_start = mid_loop | plus: 1 %}
                Coursework:
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            {% for i in (0..mid_loop) %}
                                <li>{{ education.coursework[i] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            {% for i in (mid_loop_start...loop_end) %}
                                <li>{{ education.coursework[i] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
