---
id: profile
layout: default
title: My Profile
permalink: /profile/
---

<div class="sheet no-padding">
    <div class="row no-margin">
        <div class="col-sm-4 no-padding">
            <img src="/assets/grad.jpg"></img>
        </div>
        <div class="col-sm-8 padding-all-1 padding-top-2">
            <h1>Naphat Sanguansin</h1>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p>From Bangkok, Thailand<br>Living in San Francisco, CA</p>
        </div>
    </div>
</div>

<div class="sheet no-padding">
    {% for education in site.data.education %}
        <div class="row no-margin">
            <div class="col-sm-4 text-center padding-all-1">
                <h2>{{ education.school }}</h2>
                <h3>Class of {{ education.year }}</h3>
                <p>{{ education.location }}</p>
            </div>
            <div class="col-sm-8 padding-all-1">
                {{ education.degree }}<br>
                GPA: {{ education.gpa }}<br>

                <!-- Honors -->
                {% assign mid_loop = education.honors.size | plus: 1 | divided_by: 2 %}
                Honors:
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            {% for honor in education.honors limit: mid_loop %}
                                <li>{{ $honor }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            {% for honor in education.honors offset: mid_loop %}
                                <li>{{ $honor }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Coursework -->
                {% assign mid_loop = education.coursework.size | plus: 1 | divided_by: 2 %}
                Coursework:
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            {% for coursework in education.coursework limit: mid_loop %}
                                <li>{{ $coursework }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            {% for coursework in education.coursework offset: mid_loop %}
                                <li>{{ $coursework }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Work -->
<div class="sheet no-padding">
    <div class="padding-top-1 padding-right-1 padding-left-1">
        <h1 class="inline-block">Work Experience</h1>
        {% assign remaining = site.data.work.size | minus: site.data.profile.work_shown %}
        {% if remaining > 0 %}
            {% assign work_page = site.pages | where: "id", "work" | sample %}
            <a href="{{ work_page.url | prepend: site.baseurl }}" class="margin-left-1">See all ({{ remaining }} hidden)</a>
        {% endif %}
    </div>
    {% for work in site.data.work limit: site.data.profile.work_shown %}
        <div class="horizontal-line margin-left-1 margin-right-1"></div>
        {% include work_item.html work=work %}
    {% endfor %}
</div>

<!-- Projects -->
<div class="sheet no-padding">
    <div class="padding-top-1 padding-right-1 padding-left-1">
        <h1 class="inline-block">Projects</h1>
        {% assign remaining = site.data.projects.size | minus: site.data.profile.projects_shown %}
        {% if remaining > 0 %}
            {% assign projects_page = site.pages | where: "id", "projects" | sample %}
            <a href="{{ projects_page.url | prepend: site.baseurl }}" class="margin-left-1">See all ({{ remaining }} hidden)</a>
        {% endif %}
    </div>
    {% for project in site.data.projects limit: site.data.profile.projects_shown %}
        <div class="horizontal-line margin-left-1 margin-right-1"></div>
        {% include project_item.html project=project %}
    {% endfor %}
</div>
