<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading padding-all-1">{{ site.title }}</h2>

    <div class="row no-margin">
      <div class="col-sm-4">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm-5">
        {{ site.copyright | markdownify }}
      </div>

    </div>

  </div>

</footer>
