<div class="row no-margin">
    <div class="col-sm-4 text-center padding-all-1">
        <h2>{{ include.work.company }}</h2>
        <h3>{{ include.work.position }}</h3>
        <p>
            {{ include.work.location }}
            <br>
            {{ include.work.period }}
        </p>
    </div>
    <div class="col-sm-8 padding-all-1">
        <ul>
            {% for content in include.work.content %}
                <li>{{content}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
