---
id: blog
layout: default
title: Blog
navbar_active: blog
---

<div class="sheet">

    <h1>My Blog</h1>
    <div class="horizontal-line"></div>

    <ul class="post-list">
        {% for post in paginator.posts %}
            <li>
                {% include post_item.html post=post %}
            </li>
            <div class="horizontal-line"></div>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

    <!-- Pagination links -->
    <div class="row no-margin text-center">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">←</a>
        {% endif %}

        <span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">→</a>
        {% endif %}
    </div>

</div>
